{% comment %}
  Renders a markdown include file in a section with a specified class
  Usage: {% include shared/homesection.html source="home/vision.md" class="most-section--vision" %}
{% endcomment %}

{% capture section_content %}{% include {{ include.source }} %}{% endcapture %}
{% assign trimmed_content = section_content | strip %}
{% if trimmed_content != "" %}

<section class="most-section most-section--{{ include.class }} {% if include.class == "description" %}bg-light p-3 rounded my-4{% endif %}">
  {{ section_content | markdownify }}
</section>
{% endif %}
