<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <link rel="stylesheet" href="{{ "/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/fontawesome-free/css/all.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body>

  <header class="most-header">
    <div class="container">
      <h1 class="most-header-title">{{ site.title }}</h1>
      <nav>
        <ul class="most-nav-list">
          <li class="most-nav-item"><a class="most-nav-link" href="{{ "/" | relative_url }}">Home</a></li>
          <li class="most-nav-item"><a class="most-nav-link" href="{{ "/people" | relative_url }}">People</a></li>
          <li class="most-nav-item"><a class="most-nav-link" href="{{ "/news" | relative_url }}">News</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="most-content">
    <div class="container">
      {{ content }}
    </div>
  </div>

  <footer class="most-footer">
    <div class="container">
      {% include shared/footer.html %}
    </div>
  </footer>

  <!--
  At the end of the body for performance reasons. This way,
  users see the content of the page sooner.
  -->
  <script src="{{ "/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>

  <!-- Cookie Alert -->
  <div class="most-cookie-alert alert alert-dark text-center fixed-bottom mb-0 d-none" role="alert">
    <div class="container">
      <strong>FBK websites use cookies</strong> -
      <a href="https://www.fbk.eu/en/privacy-cookies-policy/"
         target="_blank"
         class="alert-link">More info about Privacy and cookies policy</a>
      <button type="button" class="btn btn-primary btn-sm ms-3 most-cookie-accept">
        I agree
      </button>
    </div>
  </div>

</body>
</html>
