---
layout: base
---

{% include shared/homesection.html source="home/vision.md" class="vision" %}
{% include shared/homesection.html source="home/mission.md" class="mission" %}
{% include shared/homesection.html source="home/researchfocus.md" class="researchfocus" %}
{% include shared/homesection.html source="home/description.md" class="description" %}
{% include shared/homesection.html source="home/impact.md" class="impact" %}
{% include shared/homesection.html source="home/strategy.md" class="strategy" %}
{% include shared/homesection.html source="home/organization.md" class="organization" %}
{% include shared/homesection.html source="home/seminars.md" class="seminars" %}
{% include shared/homesection.html source="home/contact.md" class="contact" %}
{% include shared/homesection.html source="home/joinus.md" class="joinus" %}
