<footer class="most-footer minimal-footer">

  <div class="minimal-footer__wrap">

    <div class="minimal-footer__cols">

      <!-- LEFT COLUMN -->
      <div class="minimal-footer__col">
        <strong>Quick links</strong>
        <div class="spaced__tabs">
          <a href="https://www.fbk.eu/en/" target="_blank">FBK</a> |
          <a href="https://digis.fbk.eu/" target="_blank">Digital Society</a> |
          <a href="https://most.fbk.eu/" target="_blank">MoST</a>
        </div>
      </div>

      <!-- RIGHT COLUMN -->
      <div class="minimal-footer__col">
        <strong>Contacts</strong>
        <div class="spaced__tabs">
          <span>Via Sommarive, 18</span> |
          <span>38123</span> |
          <span>Povo (Trento)</span> |
          <span>Italy</span>
        </div>

        <div class="spaced__tabs" style="margin-top: 0.5rem;">
            <a href="mailto:pistore@fbk.eu" aria-label="Email MoST"><i class="fa-solid fa-envelope"></i></a>
            |
            <a href="https://www.linkedin.com/company/fbk-most/" target="_blank" rel="noreferrer" aria-label="MoST LinkedIn">
              <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
      </div>

    </div>

    <!-- BOTTOM ROW -->
    <div class="minimal-footer__meta">
      <span>
        Developed by MoST |
        <i class="fa-brands fa-creative-commons-by"></i>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
          CC BY-SA 4.0 License
        </a>
      </span>
    </div>

  </div>

</footer>