{% extends "base.html" %}

{% block title %}People{% endblock %}

{% block content %}

<section class="content" id="team">
  <h2>Team</h2>
</section>

<section class="content" id="former">
  <h2>Former members</h2>
</section>

<section class="content" id="open">
  <h2>Open positions</h2>

      <h3 style="margin-top: 2rem; margin-bottom: 1rem;">Jobs Opportunities</h3>
      <p style="text-align: center;">We have no open positions yet.</p>
      
      <!-- <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th class="col-center">Recruitment Type</th>
              <th class="col-center">Date Published</th>
              <th class="col-center">Deadline</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="https://jobs.fbk.eu/Annunci/Jobs_A_position_for_a_Software_Developer_in_the_field_of_Urban_data_analysis_245401663.htm">
                  A position for a Software Developer in the field of Urban data analysis
                </a>
              </td>
              <td class="col-center">Standard</td>
              <td class="col-center">3/30/2026</td>
              <td class="col-center">4/3/2026 11:55 PM</td>
            </tr>
          </tbody>
        </table>
      </div>   -->

    <div class="most-section">

    <div class="most-section__block">
      <h3 style="margin-top: 2rem; margin-bottom: 1rem;">PhD Opportunities</h3>
      <p>We have available PhD opportunities, for more details, please have a look to our deticated <a href="">page</a>.
    </div>

    <div class="most-section__block">
      <h3 style="margin-top: 2rem; margin-bottom: 1rem;">Internship Opportunities</h3>
      <p>We have some available intership positions, please have a look to our deticated <a href="">page</a>.
      
    </div>
  </div>
</section>
{% endblock %}
